/* Tag Names */
body {
	margin: 2%; 
	background: black;
}

field {
	display: table;
}

form {
	height: inherit;
	width: 100%;
	font-size: 10em;
	background-color: inherit;
}

input {
	font-size: 300%;
	width: 100%;
}

/* Class Names */
/*
.middleRow {
	height: 80%;
}
*/

/* ID Names */
#submitBtn {
	font-size: large;
	height: 10vh;
	background-color: red;
	width: inherit;
}

#formDiv {
	height: 50vh;
	width: 70%;
	display: table-cell;
}

#helper {
	width: 25%;
	background-color: black;
	color: white;
	display: table-cell;
	padding: 1%;
	vertical-align: top;
}

td, th {
	border: 2px solid white;
	padding: 1%;
	text-align: left;
}
